body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(pic/maroon-colour-combination.jpg);
    
}
.home{

    width: auto;

}
#time{
    position: relative;
border: solid black; 
border-radius: 15px;
width: 190px;
height: 30px;
top: 50px;
left: 90px;
text-align: center;
padding-top:10px ;
background-color:skyblue ;
}
#date{
     position: relative;
border: solid black; 
border-radius: 15px;
width: 190px;
height: 30px;
top: 50px;
left: 90px;
text-align: center;
padding-top: 10px;
background-color:skyblue ;
}
a{
    position: relative; 
    top: 400px;
    width: 120px;
    height: 120px;
   
     
}
img{
    width: 120px;
    height: 120px;
    border-radius: 20px; 
    border: solid black;
    box-shadow: 4px 4px 10px gray;
}
img:hover{
    box-shadow: 5px 5px 15px blue;
}